@import "tailwindcss";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "@fontsource/dancing-script";
@import "@fontsource/pacifico";
@import "@fontsource/poppins";
@import "@fontsource/montserrat";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace,;
}

.font-dancing {
  font-family: 'Dancing Script', cursive;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
